<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card shadow p-3 mb-5 bg-body rounded border-0">
      <div class="card-header border-0">
        <p class="fs-3 text-center">Add Notes</p>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label class="mb-2">Title</label>
            <input
              type="test"
              class="form-control"
              [(ngModel)]="noteObj.title"
              name="title"
            />
          </div>
          <div class="mb-3">
            <label class="mb-2">Description</label>
            <textarea
              class="form-control"
              [(ngModel)]="noteObj.description"
              rows="5"
              name="description"
            ></textarea>
          </div>
          <div class="row">
            <div class="col">
              <label class="mb-2">Category</label>
              <select
                class="form-control"
                [(ngModel)]="noteObj.category.id"
                name="category"
              >
                <option selected>--select--</option>
                @for (item of categoryList; track $index) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
            </div>
            <div class="col">
              <label class="mb-2">Upload File</label>
              <input type="file" class="form-control" />
            </div>
          </div>
          <div>
            <button class="btn btn-color mt-3 text-white" (click)="saveNotes()">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
